*{
    color: black;
    font-family: sans-serif;
}

button{
    
    padding: 10px;
    border-radius: 20px;
    border: none;
   
    background-color: violet;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    padding: 25px;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: blueviolet;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.558);
    color: white;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 3px solid black;
    border-radius:25px ;
    background-color: antiquewhite;

}
