*{
    color: rgb(37, 34, 32);
}
h4{
    color: rgb(189, 45, 69);
}
#name{
    color: rgb(4, 120, 222);
}

.myclass{
    background-color: rgba(0, 0, 0, 0.325);
    color: rgb(0, 0, 0);
}

#box{
    background-color: rgba(225, 44, 44, 0.777);
}
/* .heading {
    color: red;
} */
h1, h2, h3{
    color: green;
}

button{
    background-color: green;
}

*{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: left ;
}

h1{
    text-align: center;
}

h2{
    text-align: right;
}

a{
    text-decoration-style: dotted;
    
}

#bol{
    font-weight: lighter; 
}
 
#arial{
    font-size: 20px;
    line-height: 30px;
}

#cursive{
   
    font-size: 25px;
    text-transform: lowercase ;
} 

#practice1{
text-align: center;
text-transform: capitalize; 
}